// main.scss
@import url(./font/stylesheet.css);
// Reset some default browser styles
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

// Box-sizing reset for better layout control
*, *::before, *::after {
  box-sizing: border-box;
}

// Global typography settings
body {
  // overflow: hidden;
  background-image: url(/src/assets/images/bg2.png);
  // background-color: #1a1a2e;
  font-family:'Minecrafter_Reg';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f8edeb;
}

// Global container styles
.container {
  max-width: 1440px;
  margin: 0 auto;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}

