// main.scss
@import url(./font/stylesheet.css);
// Reset some default browser styles
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

// Box-sizing reset for better layout control
*, *::before, *::after {
  box-sizing: border-box;
}

// Global typography settings
body {
  // overflow: hidden;
  background-image: url(/src/assets/images/bg2.png);
  // background-color: #1a1a2e;
  font-family:'Minecrafter_Reg';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f8edeb;
}

// Global container styles
.container {
  max-width: 1440px;
  margin: 0 auto;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}

// /* 在小于1200像素的屏幕里,这里的样式才生效 */
// @media only screen and (max-width: 1200px) {
//   .login-container {
//     padding: 0 20px;
//   }
// }
// @media (max-width: 991px) {
// }
// /* 在小于768像素的屏幕里,这里的样式才生效 */

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 2000px) {
//   .login-container {
//     padding: 0 20px;
//     max-width: 1600px;
//     margin: 0 auto;
//   }
// }